@media screen and (min-width: 768px) {	
	#addinquilino .modal-dialog  {width:920px;}
}
@media screen and (min-width: 768px) {	
	#adddueno .modal-dialog  {width:920px;}
}
@media screen and (min-width: 768px) {  
    #modal-dueno-existente .modal-dialog  {width:920px;}
}
@media screen and (min-width: 768px) {  
    #modal-dueno-nuevo .modal-dialog  {width:920px;}
}


.btn-file {
    position: relative;
    overflow: hidden;			   
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;		    

}
.superradiusin {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}	
.zxc {
    border: 1px solid;
}
@media screen and (min-width: 768px) {  
    #generarrecibos .modal-dialog  {width:1024px;}
}
@media screen and (min-width: 768px) {  
    #regpagosselect .modal-dialog  {width:1024px;}
}


/*
carrucel
*/



.tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 800px !important;
}

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin: 20px 0;
}
.control-buttons{
    text-align:center;
}
.bs-example{
    margin: 20px;
}
.zxc {
    border: 1px solid;
    
}
/*TABLAS TABLESORTER*/
@unsortedWhite : url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAAElBMVEUAAADu7u7u7u7u7u7u7u7u7u7yb344AAAABnRSTlMAMhIHKyAHBrhHAAAATElEQVQI12NgYGBSYAABQ2Ew5SgCIlkFBQOAlKKgoBADA7MgEBgwsIAoB4ZAECXKAAFQHkg9WIejoCBIv4mgoDOQYgZpAxkDNARqEQBTkAYuMZEHPgAAAABJRU5ErkJggg==);
@sortAscWhite  : url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAAHlBMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u4+jEeEAAAACXRSTlMAMwkqFV7roCD4hW+/AAAAWUlEQVQI1y3MrQ5AABSG4Xd+Rj0jiDabjKZxB6qqaarGNRh27tY5myd8b/uAeML1l2+wPqUlUd0ss+oNoZqG2rOwe15+p5iC1HNAK5IBlUjnZyIlZsxx0QAfzokSZgp96u4AAAAASUVORK5CYII=);
@sortDescWhite : url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAAJ1BMVEUAAADu7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u7u4RJgHSAAAADHRSTlMAMiweCQITaU7olrlu2HdvAAAAXElEQVQI12NgYGBLYAABRxEQyaooFACkmAUFDYBUoqCgGAMDiyAQODAEgShVBkMQJcwABWvOAMEphmgQtZWBZc6ZMycdGBhszpw5DJRkOnNGAaSo5wRYLXsBAwMAi4YWQHRX4F0AAAAASUVORK5CYII=);

.table-regular > thead > tr > th { border:1px solid #fff; }
thead > tr > th { 
  color:#fff; 
  background-color:#20353c;
 }


table.tablesorter thead tr .tablesorter-header {
        /*background-image: url(../iconos/sort.gif);*/
        
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
        padding-right:10px;
}

table.tablesorter thead tr .tablesorter-headerDesc {
        background-image: url(../iconos/desc.gif);
        //background-repeat: no-repeat;
        //background-position: center right;
        
}
table.tablesorter thead tr .tablesorter-headerAsc {
        background-image: url(../iconos/asc.gif);
        //background-repeat: no-repeat;
        //background-position: center right;
        
}
